{% extends 'base.html' %}

{% block content %}
<h1 class="title">SIP-folder > Server total disk space {{diskinfo[1]}} used {{diskinfo[4]}}</h1>

{% with errors = get_flashed_messages(category_filter=["success"]) %}
{% if errors %}
<article class="message is-success">
    <div class="message-body">
    {%- for msg in errors %}
    <strong>{{ msg }}</strong>
    {% endfor -%}
    </div>
</article>
{% endif %}
{% endwith %}

{% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}
<article class="message is-danger">
    <div class="message-body">
    {%- for msg in errors %}
    <strong>{{ msg }}</strong>
    {% endfor -%}
    </div>
</article>
{% endif %}
{% endwith %}

<div class="columns">
    <div class="column">
        <div class="card">
            <header class="card-header has-background-warning-light">
                <p class="card-header-title">
                {% if session['mp_name'] %}
                Object: {{session['mp_name']}}&nbsp;&nbsp;
                {% endif %}
                {% if session['mp_id'] %}
                <span class="tag is-link is-medium">{{session['mp_id']}}</span>
                {% else %}
                <span class="tag is-danger is-medium">Object = ?</span>
                {% endif %}
                {% if session['mp_inv'] %}
                <span class="tag is-info is-medium">{{session['mp_inv']}}</span>
                {% endif %}
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                {% for file in files %}
                <a href="{{url_for('sip.sip_file_delete')}}?name={{file}}&page=sip.sip&path=SIP"><span class="material-symbols-outlined has-text-danger">delete_forever</span></a>
                &rarr;
                <span class="material-symbols-outlined">file_open</span>
                <a href="{{SIP_path}}{{file}}">{{file}}</a> </br>
                {% endfor %}
                </div>
            </div>

                <!-- div containing the popup -->
                <div class="popupcontent">
                    <h3>Wait!</h3>

                    <p>
                        Processing selected operation. Wait until it is finished.
                    </p>
                </div>

        </div>
    </div>
    <div class="column">
        <div class="notification is-warning">
            <strong>WAIT FOR THE PROGRAM!</strong> Mediahillo is processing files ...
        </div>
        <div class="box">
            &larr;
            <a href="{{url_for('sip.sip_from_files')}}"><button class="button is-success" id="hide1" onclick="togglePopup()">CREATE</button></a>
            SIP tar package from FILES in DATA-Folder  
            <hr>
            &larr;
            <a href="{{url_for('sip.sip_from_files')}}"><button class="button is-success" id="hide2" onclick="togglePopup()">CREATE</button></a>
            <strong>UPDATE</strong> SIP tar package from FILES in DATA-Folder 
            <hr>
        </div>
        <div class="box">
            &larr;
            <a href="{{url_for('sip.sip_from_directory')}}"><button class="button is-success" id="hide3" onclick="togglePopup()">CREATE</button></a>
            SIP tar package from DIRECTORY in DATA-Folder
            <hr>
            &larr;
            <a href="{{url_for('sip.sip_from_directory')}}"><button class="button is-success" id="hide4" onclick="togglePopup()">CREATE</button></a>
            <strong>UPDATE</strong> SIP tar package from DIRECTORY in DATA-Folder   
        </div>
        <div class="box">
            &larr;
            <a href="{{url_for('sip.sip_delete')}}"><button class="button is-danger">Delete</button></a> 
            Delete all files from SIP-folder
              
        </div>
    </div>
</div>

<div class="box">
    OUTERR:
    <pre>{{ outerr }}</pre>
</div>
<div class="box">
    OUTPUT:
    <pre>{{ output }}</pre>
</div>

{% endblock %}
